/* fonts */

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

/* basic styling */

*, *::after, *::before{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: row nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 100vh;
    width: 100vw;
}

/* left side */

.leftSide{
    background-image: url("./greenBG.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    flex: 3;
    width: 40em;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.title{
    background-color: rgba(25, 25, 25, 0.634);
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 65%;
    margin-bottom: auto;
}

.logo{
    height: 8rem;
    margin-bottom: 2.5rem; 
}

.title > p{
    color:aliceblue;
    line-height: 250px;
    font-size: 8em;
}

.credit{
    color: antiquewhite;
    text-align: center;
    margin: 2vh;
}

.leftSide > *, p{
    font-family: "norse-bold";
}

/* right side */

.rightSide{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(242, 241, 241);
    padding-left: 5vw;
    padding-right: 10vh;
}

.description{
    margin-bottom: 4vh;
}

/* form */

form{
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    padding: 0.5vw;
}

label{
    margin-left: 2px;
}

.input{
    display: flex;
    flex-flow: column wrap;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    height: 1.5rem;
    width: 12rem;
}

:focus{
    border: 1px solid rgb(162, 162, 246);
    box-shadow: 1px 4px 9px 2px #888888;
}

.error{
    border: 1px solid red;
    box-shadow: 1px 4px 9px 2px #888888;
}

.error_message{
    color: red;
    margin-top: 5px;
    font-size: 0.6em;
    visibility: visible;
}

button{
    color: white;
    background-color: #596D48;
    box-shadow: 1px 4px 9px 2px #888888;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    font-size: 17px;
}

button:active{
    background-color: #48583b;
}

:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: rgb(138, 117, 232);
}

@media (max-width: 800px) {
    .title {
      flex-wrap: wrap;
      display: inline;
      padding-top: 2rem;
    }
    .logo{
        width: 5rem;
        height: 5rem;
    }
    .title > p{
        line-height: 120px;
    }
}