/* fonts */

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

/* basic styling */

*, *::after, *::before{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0px;
}

/* left side */

.leftSide{
    display: flex;
    background-image: url("./greenBG.webp");
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.logo{
    width: 125px;
    height: 125px;
    margin-bottom: 2.5rem;
}

.title{
    display: flex;
    align-items: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;
    margin-top: 65%;
    margin-bottom: auto;
    font-size: 8.5em;
    color:aliceblue;
    background-color: rgba(25, 25, 25, 0.634);
}

.credit{
    color: antiquewhite;
    text-align: center;
    margin: 20px;
}

.leftSide > *, p{
    font-family: "norse-bold";
}

/* right side */

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242, 241, 241);
    width: 600px;
    height: 900px;
    padding-left: 50px;
    padding-right: 50px;
}

.description{
    margin-bottom: 30px;
}

/* form */

form{
    display: flex;
    padding: 5px;
}

.leftCol{
    flex-direction: column;
    margin-right: 30px;
}

.rightCol{
    flex-direction: column;
}

label{
    margin-left: 2px;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    height: 1.5rem;
    width: 12rem;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #596D48;
    box-shadow: 1px 4px 9px 2px #888888;
    border: 0px;
    border-radius: 7px;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 17px;
}

button:active{
    background-color: #48583b;
}

:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: rgb(138, 117, 232);
}